*{
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}
body{
    background-color: #f4f4fc;
    overflow: hidden;
}
header{
    width: 100%;
    height: 0px;
}
.logo{
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}
main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.contenedorcajatexto{
    position: absolute;
    left: 50px;
    top: 100px;
    padding-left: 100px;
    width: 1080px;
    height: 600px;
}
.cajatexto{
    border-radius: 15px;
    width: 80%;
    height: 90%;
    border: 2px solid #000;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.cajatexto::placeholder{
    color: #0A3871;
    text-align: center;
}
.alerta{
    position: absolute;
    top: 650px;
    left: 150px;
    display: flex;
    color: #495057;
}
.Contenedor-botones{
    position: absolute;
    top: 675px;
    height: 0;
    padding-left: 15%;
    padding-top: 1px;
    margin-top: 0;
}
.btn-encriptar{
    width: 328px;
    height: 60px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 0;
}

.btn-desencriptar{
    width: 328px;
    height: 60px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: initial, sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
}
.seccion2{
    display: block;
    position: relative;
    margin-top: 50px;
    width: 400px;
    height: 630px;
    right: 50px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}
.contenedormunieco{
    position: absolute;
    left: 30px;
    top: 80px;
    box-sizing: border-box;
    padding-top: 50px;
}
.contenedor-parrafo{
    position: absolute;
    box-sizing: border-box;
    top: 480px;
    left: 40px;
}
.contenedor-parrafo h3{
    font-size: 24px;
    font-weight: 700;
    font-family: initial, sans-serif;
    text-align: center;
    color: #343a40;
}
.contenedor-parrafo p{
    font-size: 16px;
    font-weight: 400;
    font-family: initial, sans-serif;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}
.contenedor-resultado{
    position: relative;
    display: block;
    
    width: 320px;
    height: 550px;
    padding: 140px;
    box-sizing: border-box;
    margin-left: 25px;
}
.contenedor-resultado p{
    color: #495057;
    font-size: 25px;
}
.contenedor-copiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 98%;
    background-color: aqua;
    padding-left: 40px;
}
.btn-copiar{
    width: 328px;
    height: 67px;
    background-color: #ffffff;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    margin-top: 0px;
    top: 2px;
    right: 4px;
}
.btn-copiar:hover{
    background-color: #0A3871;
    color: #FFF;
    transition: all 0.45s;
}

.ocultar{
    display: none;
}